<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" href="/css/styles.css">
    </head>

    <body>
         {{>header}}
        <img src='/img/new-history-forecast-bulk.png'>
        {{>footer}}
    </body>

</html>