<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather_icons_color.png">
        <link rel= "stylesheet" href="/css/styles.css">
    </head>

    <body>
         <div class="main-content">
            {{>header}}
            <img class="portrait" src='/img/new-history-forecast-bulk.png'>
         </div>
         
        {{>footer}}
    </body>

</html>