<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}} <!-- call partial header file  -->
        <p>{{helpText}}</p>
        {{>footer}}
    </body>

</html>