<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather_icons_color.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <!-- call partial header file  -->
        <p>{{helpText}}</p>
    </div>

    {{>footer}}
</body>

</html>