<header>
    <div class="title-navbar nav">
    <h1>{{title}}</h1>
    <a href='/'>Local</a>
    <a href="#brief-weather">Current</a>
    <a href="#detail-weather">Detail</a>
     <a href="#forecast-weather">Five-Days</a>
     <a href="#weather-map">Weather Map</a>
    <a href='#about'>About</a>
    <a href='/login'>Login</a>
    </div> 
</header>