/*
https://colorhunt.co/palette/15830
*/

body {
    margin: 0 0% 0 0%;
}

header {
    /* margin-top: 16px; */
    /* margin-bottom: 48px; */
}

header a {
    color: #f5eeee;
    margin-right: 16px;
    text-decoration: none;
}

header a hover {
    color: #534646;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

.title-brand {
    margin: 0;
    font-size: 3rem;
}

.title-navbar {
    margin: 0, 0, 0, 0;
    padding: 1% 1% 1%;
    text-align: left;
    font-size: 1.2rem;
    background-color: #364f6b;
}

.search-city {
    padding-left: 2%;
}


/* .main-content {
    flex-grow: 1;
} */


/* .brief-bd-img {
    width: 100%;
    padding: 0% 0%;
} */


/* display location */

.location {
    position: absolute;
    /* Position the background text */
    top: 0%;
    left: 0%;
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 100%;
    height: 10%;
    /* Full width */
    padding: 0% 0% 0% 0%;
    /* Some padding */
    margin: 0% 0% 0% 0%;
    font-size: 1.8rem;
}

.current-weather {
    position: relative;
    max-width: 100%;
    height: 30%;
    padding: 0% 0% 0% 0%;
    background-image: url("/img/wallpaper1.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
}

.current-weather .current-humdity-content {
    /* background: rgb(0, 0, 0);*/
    /* Fallback color */
    /* background: rgba(0, 0, 0, 0.5); */
    max-width: 30%;
    /* margin: 5% 5%; */
}

.current-weather .current-weather-content {
    /* Position the background text */
    /* position: absolute; */
    /* At the bottom. Use top:0 to append it to the top */
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    /* Grey text */
    /* width: 30%;
    height: 10%; */
    /* Full width text  */
    max-width: 100%;
    padding: 0% 0% 10% 0%;
    /* Some padding */
    border-radius: 50% 50% 50% 50%;
    margin: 8% 0% 5% 0%;
}

.current-temp {
    display: inline-block;
    font-size: 5.5rem;
    color: #12E90A;
    margin: 20% 3% 0% 30%;
}

.temp-icon {
    display: inline-block;
    width: 15%;
    height: auto;
    margin: 0% 0% 0% 1%;
}

.current-summary {
    font-size: 2rem;
    margin: 1% 0% 0% 30%;
}

.current-cond-icon {
    display: inline-block;
    width: 20%;
    height: auto;
    margin: 5% 5% 0% 30%;
}


/* .detail-weather {
    padding: 4% 5% 4% 5%;
    background-color: #f5f5f5;
} */

.humdity-icon {
    width: 30%;
    height: auto;
    margin: 60% 20% 1% 35%;
}

.current-humdity-val {
    display: inline-block;
    margin: 1% 30% 30% 42%;
    color: #12E90A;
}

.current-uv-index-img {
    width: 20%;
    height: auto;
    margin: 60% 20% 1% 35%;
}

.current-uv-index-val {
    margin: 1% 30% 30% 42%;
    color: #12E90A;
}

.current-windspeed-content {
    /* max-width: 30%; */
    /* margin: 5% 5%; */
}

.current-windspeed-content,
.current-windgust-content,
.current-windbearing-content,
.current-cloudcover-content,
.current-visibility-content,
.current-pressure-content {
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.3);
}

.current-windspeed-title,
.current-windgust-title,
.current-windbearing-title,
.current-cloudcover-title,
.current-visibility-title,
.current-pressure-title {
    color: #f1f1f1;
    font-size: 2.3rem;
    margin: 15% 0% 2% 32%;
}

.current-windspeed-img,
.current-windgust-img,
.current-windbearing-img,
.current-cloudcover-img,
.current-visibility-img,
.current-pressure-img {
    width: 35%;
    height: auto;
    margin: 3% 30% 2% 30%;
}

.current-windspeed-val,
.current-windgust-val,
.current-windbearing-val,
.current-cloudcover-val,
.current-visibility-val,
.current-pressure-val {
    margin: 1% 0% 0% 40%;
    color: #12E90A;
}

.week-forecast {
    padding: 0% 0% 0% 10%;
    background-image: url("/img/new-history-forecast-bulk.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
    width: 100%;
    height: auto;
}

.forecast-title {
    position: absolute;
    left: 0%;
    width: 100%;
    height: auto;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.3);
    color: #f1f1f1;
    font-size: 2.4rem;
    padding-left: 10%;
}

.forecast-card {
    margin-bottom: 5%;
    margin-top: 5%;
}

.forecast-today-cond-icon,
.forecast-2nd-cond-icon,
.forecast-3rd-cond-icon,
.forecast-4th-cond-icon,
.forecast-5th-cond-icon {
    margin: 0% 20% 0% 20%;
    width: 60%;
    height: auto;
}

.forecast-today-low-high-temp,
.forecast-2nd-low-high-temp,
.forecast-3rd-low-high-temp,
.forecast-4th-low-high-temp,
.forecast-5th-low-high-temp,
.forecast-today-humdity,
.forecast-2nd-humdity,
.forecast-3rd-humdity,
.forecast-4th-humdity,
.forecast-5th-humdity {
    display: inline-block;
    margin: 0% 0% 0% 15%;
    /* width: 80%; */
}

.temp-icon-sm {
    width: 12%;
    height: auto;
}

.humdity-icon-sm {
    display: inline-block;
    width: 18%;
    height: auto;
}

.weather-map {
    width: 100%;
    margin: 0;
}

.embed-map {
    position: relative;
    top: 0;
    width: 100%;
    height: 500px;
    overflow: auto;
}

footer {
    color: #f1f1f1;
    padding: 10px 10%;
    margin-bottom: 0;
    background: #3fc1c9;
}


/* .about {
    padding: 0% 0% 0% 0%;
} */