/*
https://colorhunt.co/palette/15830
*/

body {
    margin: 0 0% 0 0%;
}

header {
    /* margin-top: 16px; */
    /* margin-bottom: 48px; */
}

header a {
    color: #f5eeee;
    margin-right: 16px;
    text-decoration: none;
}

header a hover {
    color: #534646;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

.title-brand {
    margin: 0;
    font-size: 3rem;
}

.title-navbar {
    margin: 0, 0, 0, 0;
    padding: 1% 1% 1%;
    text-align: left;
    font-size: 1.2rem;
    background-color: #364f6b;
}

.search-city {
    padding-left: 2%;
}


/* .main-content {
    flex-grow: 1;
} */

.brief-bd-img {
    width: 100%;
    padding: 0% 0%;
}


/* display location */

.location {
    position: absolute;
    /* Position the background text */
    top: 0%;
    left: 0%;
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 100%;
    height: 10%;
    /* Full width */
    padding: 1% 2% 1% 2%;
    /* Some padding */
    margin: 0% 0% 0% 0%;
}

.brief-weather {
    position: relative;
    max-width: 100%;
    height: auto;
    padding: 0% 0% 0% 0%;
    background-image: url("/img/wallpaper1.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
}

.brief-weather .current-humdity-content {
    /* background: rgb(0, 0, 0);*/
    /* Fallback color */
    /* background: rgba(0, 0, 0, 0.5); */
    max-width: 30%;
    /* margin: 5% 5%; */
}

.brief-weather .brief-weather-content {
    /* Position the background text */
    /* position: absolute; */
    /* At the bottom. Use top:0 to append it to the top */
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    /* Grey text */
    /* width: 30%;
    height: 10%; */
    /* Full width text  */
    max-width: 100%;
    padding: 0% 0% 10% 0%;
    /* Some padding */
    border-radius: 50% 50% 50% 50%;
    margin: 8% 0% 5% 0%;
}

.current-temp {
    display: inline-block;
    font-size: 5.5rem;
    color: #12E90A;
    margin: 20% 3% 0% 30%;
}

.temp-icon {
    display: inline-block;
    width: 15%;
    height: auto;
    margin: 0% 0% 0% 1%;
}

.current-summary {
    font-size: 2rem;
    margin: 1% 0% 0% 30%;
}

.current-cond-icon {
    display: inline-block;
    width: 20%;
    height: auto;
    margin: 5% 5% 0% 30%;
}

.detail-weather {
    padding: 4% 5% 4% 5%;
}

.humdity-icon {
    display: inline-block;
    width: 30%;
    height: auto;
    margin: 50% 30% 1% 30%;
}

.current-humdity-val {
    display: inline-block;
    margin: 1% 30% 30% 40%;
    color: #12E90A;
}

.current-uv-index-img {
    width: 20%;
    height: auto;
    margin: 50% 30% 2% 30%;
}

.current-uv-index-val {
    margin: 1% 30% 30% 40%;
    color: #12E90A;
}

.week-forecast {
    padding: 4% 5% 4% 5%;
}

.weather-map {
    padding: 4% 5% 4% 5%;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    padding: 10px 5%;
    margin-top: 16px;
    margin-bottom: 0;
    background: #3fc1c9;
}

.portrait-image {
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
    padding: 2% 0% 0%;
}

.about {
    padding: 0% 0% 0% 0%;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}